<div class="topbar" style="border-bottom: 1px solid  #5dc40d;">
  <div class="container">
    <div class="row">
      <div class="col-s-4">
        <h1 ui-sref="app" class="push-left">{{title}}</h1>
      </div>
      <div class="offset-s-4 col-s-4">
        <nav role="navigation" class="push-right">
          <ul>
            <li>
              <a ui-sref="app">See All Posts</a>
            </li>
            <li>
              <!-- <a href="#" ng-click="selectTab('new')">Add New Post</a> -->
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>